.App {
  text-align: center;
  background: white;
}
.themecolor1{
  color: #E51535;
}
.particlesposition{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.logo{
  max-width: 270px;
  max-height: 90px;
}